<a href="https://colab.research.google.com/github/ZubairHasan97/freeCodeCamp-Projects/blob/main/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import necessary Packages and modules**

---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

**Load CSV file of demographic data from local directory**

---

In [3]:
filepath = '/content/adult.csv'
data = pd.read_csv(filepath)

**Examine the Data by rows and columns**

---

In [4]:
data.size #total number of elements throughout the whole dataframe

488415

In [5]:
data.shape #num of rows and columns

(32561, 15)

In [6]:
data.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
data.describe() #statistical summary of all numeric columns/datasets

                age        fnlwgt  ...  capital.loss  hours.per.week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [9]:
data.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

**Number of people in each race**

---

In [10]:
data['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [11]:
print('Race                  Count')
data['race'].value_counts()

Race                  Count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

**Avarage age of Men**

---

In [12]:
data['sex'] == 'Male' #boolean mask for male

0        False
1        False
2        False
3        False
4        False
         ...
32556     True
32557    False
32558     True
32559    False
32560     True
Name: sex, Length: 32561, dtype: bool

In [13]:
print('Avarage age of Men:', round(data.loc[data['sex'] == 'Male', 'age'].mean()))

Avarage age of Men: 39

**Percentage of Bachelor Graduates**

---

In [14]:
data['education'] == 'Bachelors' #Mask filter

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

In [15]:
data['education'].value_counts(normalize=True)

HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: education, dtype: float64

In [144]:
print('Bachelor Graduates percentage: ', round(data.loc[data['education'] == 'Bachelors', 'education'].size / data['education'].size * 100,2))

Bachelor Graduates percentage:  16.45

**Percentage of people with advanced education who makes > $50K**

---

In [17]:
greater_than_50k = data.loc[((data['education'] == 'Masters') | (data['education'] == 'Bachelors') | (data['education'] == 'Doctorate')) & (data['income'] == '>50K')].shape[0]
greater_than_50k

3486

In [145]:
percentage = (greater_than_50k / data.shape[0]) * 100
print(f'Percentage of People with higher degree earning more than 50K: {round(percentage,2)}')

Percentage of People with higher degree earning more than 50K: 10.71

**Percentage of people without advanced education make > $50K**

---

In [23]:
data.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [32]:
no_adv_deg_more_50K = data.loc[((data['education'] != 'Masters') & (data['education'] != 'Bachelors') & (data['education'] != 'Doctorate')) & (data['income'] == '>50K')].shape[0]
no_adv_deg_more_50K

4355

In [146]:
perc = (no_adv_deg_more_50K / data.shape[0]) * 100
print(f'Percentage of people without advanced education making > $50K: {round(perc,2)}')

Percentage of people without advanced education making > $50K: 13.37

**Minimum work-hours per week by a person**

---

In [147]:
min_hour = data['hours.per.week'].unique().min()
print(f'Minimum Work Hours: {min_hour} H per week')
# data['hours.per.week'].min()

Minimum Work Hours: 1 H per week

**Percentage of the people working minimum hours per week have a salary of more than 50K**

---

In [55]:
(data['hours.per.week'] == min_hour).sum() #checking the total entries with min hours work per week

20

In [60]:
min_workhour_more_50K = data.loc[(data['hours.per.week'] == min_hour) & (data.income == '>50K')] 
min_workhour_more_50K

       age  workclass  fnlwgt  ... hours.per.week  native.country income
4396    58  State-gov  109567  ...              1   United-States   >50K
21709   65          ?   76043  ...              1   United-States   >50K

[2 rows x 15 columns]

In [72]:
min_workhour_more_50K.shape[0] #total entries of min work hours per week who's making > 50K

2

In [63]:
min_workhour_more_50K.shape[0] / data.shape[0] * 100
print(f'The percentage is quite small and negligable: {min_workhour_more_50K.shape[0] / data.shape[0] * 100}')

The percentage is quite small and negligable: 0.006142317496391388

**Country with highest percentage of people that earn >50K**

---

In [119]:
country_more_than_50K = data.loc[data['income'] == '>50K','native.country']
country_more_than_50K.value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Puerto-Rico             12
France                  12
Poland                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Ecuador                  4
Portugal                 4
Haiti                    4
Guatemala                3
Hungary                  3
Scotland                 3
Thailand                 3
Dominican-Republic       2
Nicaragua                2
Peru                     2
Trinadad&Tobago          2
Columbia                 2
Laos                     2
Honduras                 1
Name: native.country, dtype: int64

In [148]:
percentage_country = (data.loc[(data['income'] == '>50K') & (data['native.country'] == 'United-States')].shape[0] / data.shape[0]) * 100
print(f'Country with highest percentage of people earning > 50K: {country_more_than_50K.value_counts().idxmax()} -> {round(percentage_country,2)}')
# data.loc[data['income'] == '>50K'].income.unique()

Country with highest percentage of people earning > 50K: United-States -> 22.02

**Most popular occupation in India who earns > $50K**

---

In [133]:
data.loc[(data['income'] == '>50K') & (data['native.country'] == 'India')].head()

      age     workclass  fnlwgt  ... hours.per.week  native.country income
90     39       Private  198654  ...             67           India   >50K
214    42  Self-emp-inc   23510  ...             60           India   >50K
710    42       Private  198341  ...             55           India   >50K
887    23       Private  143003  ...             50           India   >50K
1350   34       Private   98283  ...             40           India   >50K

[5 rows x 15 columns]

In [143]:
data.loc[(data['income'] == '>50K') & (data['native.country'] == 'India'), 'occupation'].value_counts()

Prof-specialty      25
Exec-managerial      8
Tech-support         2
Other-service        2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [141]:
popular_occ = data.loc[(data['income'] == '>50K') & (data['native.country'] == 'India'), 'occupation'].value_counts()
print(f'The most popular occupation for those who earn >50K in India: {popular_occ.idxmax()}')

The most popular occupation for those who earn >50K in India: Prof-specialty